@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F9F5ED;
    font-family: Roboto, 'sans-serif';
}

body {
    max-width: 1440px;
}

/* Navbar Section */
nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
    cursor: pointer;
}

nav ul li:hover {
    color: #333;
}

/* HERO Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width: 50%;
}

.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.leftmain button:hover {
    background-color: #306d4a;
}

.rightmain{
    width: 50%;
}

.rightmain .image1 {
    margin-right: 10px;
    height: 200px;
}

.rightmain .image2 {
    margin-right: 10px;
    height: 300px;
}

.rightmain .image3 {
    margin-top: 10px;
    height: 200px;
    width: 70%;
}