/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

body {
    max-width: 1440px;
    overflow: hidden;
}

.container {
    width: 80vw;
    margin: 0 auto 40%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.navbar-container img {
    width: 110px;
    cursor: pointer;
}

ul {
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}

ul li {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

ul>li:first-child {
    font-size: 20px;
    font-weight: 800;
}

ul > li:first-child::before {
    content: '';
    position: absolute;
    left: 30%;
    top: 75%;
    width: 40%;
    border-bottom: 2px solid #333;
    height: 2px;
   
}

.button-group {
    display: flex;
}

.search-icon {
    display: inline-block;
    width: 45px;
}

.nav-button {
    padding: 2px 35px;
    font-size: 18px;
    background: transparent;
    border-radius: 10px;
    color: #666262;
    font-family: Poppins, 'sans-serif';
}

/* Patterns */


/* Hero banner section */
.hero-container-right {
    position: relative;
    text-align: center;
    width: 50%;
    position: absolute;
    right: 5%;
    top: 35%
}

.hero-container>div>img {
    height: 420px;
    width: 350px;
    position: absolute;
    top: 150px;
}

.hero-container .square {
    position: absolute;
    top: 49%;
    left: 18%;
}

.hero-container .square img {
    width: 300px;
}

.hero-container .globe {
    display: block;
    position: absolute;
    right: 580px;
    top: 120px;
}

.hero-container .globe img {
    width: 50px;
}

.hero-container > span:nth-child(2) {
    position: absolute;
    right: 110px;
    top: 150px;
}

.hero-container > span:nth-child(3) {
    position: absolute;
    left: 45%;
    bottom: 8%;
}

.hero-container > span:nth-child(3) img {
    width: 40px;
}

.hero-container .star img {
    width: 50px;
}

.hero-heading {
    font-size: 48px;
}

.hero-description {
    font-family: Poppins, 'sans-serif';
    color: #666262;
    font-size: 12px;
    font-weight: 500;
    margin: 35px 0 70px 0;
    padding: 0 70px;
}

.button-email {
    padding: 2px 25px;
    font-size: 18px;
    background: transparent;
    border-radius: 10px;
    color: #666262;
    font-weight: 500;
    margin-right: 10px;
}

.button-join {
    padding: 2px 4px;
    font-size: 18px;
    background: #0d0d0d;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

.contact-heading {
    color: #666262;
    margin-top: 70px;
    font-family: Poppins, 'sans-serif';
    font-weight: 500;
    text-transform: capitalize;
}

.icons {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.icons span img {
    width: 30px;
    margin-right: 15px;
}

